<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="True" name="HandheldFriendly" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/gravatar.png">
    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="/assets/css/index.css">
    {% endif %}

    <link rel="stylesheet" href="/assets/css/build.css">
</head>

<body>
    <header id="header">
        <div id="brand">
            <a href="/"><strong>{{ site.title }}</strong></a>
        </div>
    </header>

    {{ content }}

    {% include footer.html %}
    <script src="/assets/js/build.min.js"></script>
</body>

</html>
